@import "/styles/mixins/responsive.scss";
.select{
    padding: 10px 10px;
    background-color: white;
    border: solid 1px;
    font-size: 19px;
    font-weight: 300;
    color: rgba(37, 37, 37, 0.429);
    width: 100%;
    border-radius: 10px;
    margin: 10px 0px;

    &::placeholder{
        color: rgba(37, 37, 37, 0.429);
    }
    @include Phone {
        padding: 10px 10px;
        font-size: 13px;
        width: 80%;
      }
}