@import "/styles/mixins/colors.scss";
@import "/styles/mixins/responsive.scss";
.container {
    background-image: url("/images/test.svg");
    padding:  180px 5px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 40px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include Phone {
        
        .logo{
            padding-top: 90px;
            width: 70%;
            height: 70%;
        }
    }
    @include BigScreen{
        padding: 200px;
    }
}
.h1 {
    padding: 35px;
    color: white;
    @include Phone {
        padding: 20px;
        font-size: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 20px ;
        text-align: center;
    }
}
.Button{
    @include Phone {
    }
}
